<div class="container">
    <div class="row">
        <h1>List of Users</h1>
    </div>
    <div class="row">

    

    <table class="table table-bordered table-hover">
    <thead>
        <tr>    
            <th>ID</th>
            <th>User Id</th> <th>Name of the User</th> <th>Age</th>
            <th>Email</th> <th>Phone Number</th> <th>Gender</th>
            <th class="h4">City</th> <th>Country</th> <th>Is Deleted</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.userid}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.city}}</td>
            <td>{{user.country}}</td>
            <td>{{user.isdeleted}}</td>
            <!-- <td><a  (click)="getUserById(user.id)">Select</a> |
                <a (click)="deleteUserById(user.userid)">Delete</a> </td> -->
        </tr>
    </tbody>
</table>        
{{msg}}
{{errorMsg}}
</div>
