<h1>List of interests Index</h1>
<table class="table table-bordered table-hover">
    <thead>
<tr>    <th>ID</th>
    <th>Interested In</th><th>Not interested In</th>
    <th>Hobbies</th><th>Profile Url</th><th>About</th>
    <th>User Id</th><th>Is Deleted</th> <th>Operations</th>
</tr>
    </thead>
    <tbody>
<tr *ngFor="let interest of interests">
    <td>{{interest.id}}</td>
    <td>{{interest.interestedin}}</td>    <td>{{interest.notinterestedin}}</td>
    <td>{{interest.hobbies}}</td>    <td>{{interest.profileurl}}</td>
    <td>{{interest.about}}</td>    <td>{{interest.userid}}</td>
    <td>{{interest.isdeleted}}</td>
    <td><a (click)="getInterestByIdFromService(interest.id)">Select</a> |
        <a (click)="deleteInterestById(interest.id)">Delete</a>  </td>
</tr>
    </tbody>
 </table> 
<!--
    {{msg}} 
    <table border="1">
    <tr>
        <td>Id</td>
        <td><input type="number" [(ngModel)]="interest.id" /></td>
    </tr>
    <tr>
        <td>Interested In</td>
        <td><input type="text" [(ngModel)]="interest.interestedin"/></td>
    </tr>
    <tr>
        <td>Not Interested In</td>
        <td><input type="text" [(ngModel)]="interest.notinterestedin" /></td>
    </tr>
    <tr>
        <td>Hobbies </td>
        <td><input type="text" [(ngModel)]="interest.hobbies" /></td>
    </tr>
    <tr>
        <td>Profile URL</td>
        <td><input type="text" [(ngModel)]="interest.profileurl" /></td>
    </tr>
    <tr>
        <td>About</td>
        <td><input type="text" [(ngModel)]="interest.about" /></td>
    </tr>
    <tr>
        <td>User ID</td>
        <td><input type="text" [(ngModel)]="interest.userid" /></td>
    </tr>
    <tr>
        <td>Is Deleted</td>
        <td><input type="text" [(ngModel)]="interest.isdeleted" /></td>
    </tr>
</table>
<button (click)="clearAll()">Clear All</button>  | 
<button (click)="addInterest()">Add new Interest</button> |
<button (click)="editInterestById()">Edit Interest</button> -->